* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

body {
	background-color: #121214;
}

nav,
ul {
	list-style: none;
}

header {
	width: 100%;
	height: 4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
}

.logo {
	color: white;
	font-size: 1.7rem;
    font-weight: 600;
}

nav ul {
	display: flex;
}

nav ul li {
	margin-right: 2.5rem;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a {
	color: #bf463b;
	font-size: 1.2rem;
}

nav ul li a:hover {
	color: #a43c32;
}

.introducao {
	width: 100%;
	height: 100vh;
	color: #fffffc;
	background-image: url(../img/acao-biblioteca-estante-1106468.jpg);
	background-position: top left;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.introducao h1 {
	text-align: center;
	font-size: 2.1rem;
	margin-bottom: 1.2rem;
}

.introducao p {
	font-size: 16px;
	margin-bottom: 5rem;
}

.introducao button {
	color: white;
	background-color: #bf463b;
	font-size: 1.1rem;
	padding: 1rem 2rem;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}

.introducao button:hover {
	background-color: #a43c32;
}

/* Categorias */
.categorias {
	height: 700px;
	display: flex;
}

.categorias .area1 {
	color: white;
	display: flex;
	flex-direction: column;
	margin: 100px 25px 10px 80px;
}

.categorias .area1 h2 {
	font-size: 2rem;
}

.categorias .area1 h2 span {
	color: #bf463b;
}

.categorias .area1 p {
	width: 450px;
	color: white;
	font-size: 0.9rem;
	margin: 20px 0;
}

.categorias .buttons {
	display: flex;
}

.categorias .buttons button {
	width: 180px;
	height: 45px;
	color: white;
	background-color: #bf463b;
	font-size: 1.1rem;
	border: none;
	border-radius: 10px;
	outline: none;
	margin-top: 5rem;
	margin-right: 0.8rem;
	cursor: pointer;
}

.categorias .buttons button:hover {
	background-color: #a43c32;
}

.categorias .area1 .todas-categorias {
	color: #bf463b;
	background-color: white;
	border: 2px solid #bf463b;
}

.categorias .buttons .todas-categorias:hover {
	background-color: #ededed;
	border: 2px solid #a43c32;
}

.categorias img {
	width: 70%;
}
